html{
  font-family:sans-serif;
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%
}
body{
  font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size:14px;
  line-height:1.42857143;
  color:#333;
  background-color:#fff
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{
  display:block
}

article > p{
  margin-bottom: 24px !important;
  /* font-weight: 600 !important; */
  color: rgba(0, 0, 0, 0.837);

}

article > p > img, article > img, article > figure > img{
  width: 100%;
  margin-bottom: 4px;
  border-radius: 8px !important;
  margin-left: auto;
  margin-right: auto;
}

article > figure {
  margin-bottom: 15px;
}

article > figure > figcaption {
  /* margin-left: 5px; */
  text-align: center;
  font-size: 15px;
  color: rgb(179, 177, 177);
}

:root {
  --swiper-navigation-size: 30px;
}


.swiper-button-next:after, .swiper-button-prev:after {
  font-size: 14px !important;
  line-height: 28px !important;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.313);
  text-align: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.swiper-button-next, .swiper-button-prev {
  /* position: absolute; */
  /* top: 50%; */

  width: 30px !important;
  height: 30px !important;
  
  /* margin-top: calc(0px - (var(--swiper-navigation-size)/ 2));
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; */

  color: white !important;
}

a {
 color: rgb(106, 106, 211) !important;
}

#fr-logo, .tox-statusbar__branding{
  display: none !important;
}

.tox-editor-header {
    background-color: white;
    border-bottom: 2px solid #eee !important;
    box-shadow: 0 0px 0px 0px rgba(34,47,62,.1),0 0px 0px 0px rgba(34,47,62,.07) !important;
    /* padding: 0px 0 !important; */
    /* transition: box-shadow .5s; */
}

.tox-tinymce {
  border: 2px solid #eee !important;
  border-radius: 5px !important;
}